{% extends "layout.html" %}

{% block content %}
	<main class="home-content">
		<div class="container">

			<div class="main-content">
				<h2>Expression meets recognition</h2>
				<a href="{{ url_for('music') }}" class="tab-primary">Music</a>
				<a href="{{ url_for('dance') }}" class="tab-secondary">Dance</a>
			</div>

			<div class="accountbtn">
				<a href="{{ url_for('signup') }}" class="account-primary">Sign Up</a>
			</div>

			<div class="clearfix"></div>

		</div>
	</main>
{% endblock %}
